<div class="container">
  <h1>Stupid Coach</h1>
  <div class="question-answer">
  <%= @question %>
  <p>--Your question</p>
  </div>
  <br>
  <div>
  <%= @answer %>
  <p>--Your coach answer</p>
  </div>
  <br>
  <div>
  <%= link_to "Ask a question again", ask_path %>
  </div>
</div>
