<div class="container">
  <h1>Ask a question to your Stupid Coach!</h1>

  <form class="form" action="answer">
    <input type="text" name="question">
    <input class="button" type="submit" value="Ask me a question you idiot!">
  </form>
</div>
